/*---------- Setup ----------*/

* {
	box-sizing: border-box;
	/*border: 1px solid black;*/
	font-family: 'Space Mono', monospace;

}

/*@media*/


/*---------- Base Styles ----------*/

canvas {
	background-color: grey;
}

.bodyDiv {
	text-align: center;
}

h1 {
	margin: 250px auto 0px;/*make responsive*/
}

footer {
	margin-top: 250px; /*make responsive*/
}

.footerLink {
	float: left;
	padding: 10px;
}


/*---------- Layout ----------*/