/*---------- Setup ----------*/

* {
	box-sizing: border-box;
	/*border: 1px solid black;*/
	font-family: 'Space Mono', monospace;

}

/*@media*/


/*---------- Base Styles ----------*/

.container {
	margin: 0px auto;
	width: 100%
	/*float: left;*/
}

canvas {
	background-color: grey;
	/*margin: 0px auto;*/
}

.bodyDiv {
	text-align: center;
}

h1 {
	margin: 250px auto 0px;/*make responsive*/
}

footer {
	margin-top: 250px; /*make responsive*/
}

.footerLink {
	float: left;
	padding: 30px;
}


/*---------- Layout ----------*/



/*---------- Modals ----------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#turnOverText {

}

/* The Close Button */
.startTurnTwoButton {
    color: #aaaaaa;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;

}

.startTurnTwoButton:hover,
.startTurnTwoButton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}